node_modules
npm-debug.log
.next
.nx
coverage
.env*.local
.git
.gitignore
README.md
.vscode
.idea
*.md
.DS_Store
Thumbs.db
apps/**/*.spec.ts
apps/**/*.spec.tsx
apps/**/*.test.ts
apps/**/*.test.tsx
**/__tests__
**/test
**/tests
.github
